# NOTE: Values you need to set are marked with "TODO_*"

# To read and push OCI artifacts locally, as well as download the sync operator images from ghcr.io, you'll need a Github Personal
# Access Token (Classic) with the following permissions:
# - `read:packages`
# - `write:packages` (only needed if you are testing content publishing in content studio, not needed for LAP)
# - `repo (all)`

export GH_PAT=TODO_GENERATE_ME
export GH_USER=jimmy
