repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: trailing-whitespace
  - id: forbid-submodules
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.30
  hooks:
    - id: helmlint
- repo: https://github.com/norwoodj/helm-docs
  rev: v1.14.2
  hooks:
    - id: helm-docs
      args:
        - --chart-search-root=charts
- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    args: [--strict, -c=.yamllint]
    exclude: ^config/
- repo: https://github.com/golangci/golangci-lint
  rev: v2.6.2
  hooks:
  - id: golangci-lint
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']
