apiVersion: v1
kind: ServiceAccount
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: data-sync-operator
    name: data-sync-operator-controller-manager
    namespace: {{ .Release.Namespace }}
