apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: data-sync-operator-manager-role
rules:
    - apiGroups:
        - ""
      resources:
        - persistentvolumeclaims
      verbs:
        - create
        - delete
        - deletecollection
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - cdi.kubevirt.io
      resources:
        - datavolumes
      verbs:
        - create
        - delete
        - deletecollection
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - crd.pelotech.ot
      resources:
        - vmdiskimages
      verbs:
        - create
        - delete
        - deletecollection
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - crd.pelotech.ot
      resources:
        - vmdiskimages/finalizers
      verbs:
        - deletecollection
        - update
    - apiGroups:
        - crd.pelotech.ot
      resources:
        - vmdiskimages/status
      verbs:
        - deletecollection
        - get
        - patch
        - update
    - apiGroups:
        - snapshot.storage.k8s.io
      resources:
        - volumesnapshots
      verbs:
        - create
        - delete
        - deletecollection
        - get
        - list
        - patch
        - update
        - watch
